    aside {
    height: 80px;
    width: 100px;
}

section{
    bottom:344px;
    right: 10px;
}

article {
    height: 300px; /* Establece un alto fijo */
    overflow-y: scroll; /* Muestra una barra de desplazamiento cuando hay desbordamiento */
}



@media (max-width: 576.98px) { /* Pantallas xs */
    h1,h2{
        display:none;
    }
    article{
        height:250px;
        overflow-y: scroll; /* Muestra una barra de desplazamiento cuando hay desbordamiento */
    }
    section{
        height:300px !important;
    }

        .position-xs-fixed{
            position: fixed !important;
        }
        .position-xs-absolute {
            position: absolute !important;
        }
        .bottom-xs-0 {
            bottom: 0 !important;
        }
        .start-xs-0 {
            left: 0 !important;
        }
        .top-xs-0 {
            top: 0 !important;
        }
        .end-xs-0 {
            right: 0 !important;
        }

    }
    
    @media (min-width: 577px) and (max-width: 767.98px) { /* Pantallas sm */
        article{
            height:250px;
            overflow-y: scroll; /* Muestra una barra de desplazamiento cuando hay desbordamiento */
        }
        section{
            height:300px !important;
        }
        .position-sm-absolute {
            position: absolute !important;
        }

        .bottom-xs-0 {
            bottom: 0 !important;
        }
        .start-xs-0 {
            left: 0 !important;
        }
        .top-xs-0 {
            top: 0 !important;
        }
        .end-xs-0 {
            right: 0 !important;
        }
        section div{
            height: 100%;
        }

    }

@media (min-width: 768px) and (max-width: 991.98px) { /* Pantallas md */

    section{
        height: 100vh !important;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (min-width: 992px) { /* Pantallas lg y superiores */
    section{
        height: 100vh !important;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}



section{
    background-image: url("../../images/fondo-gradiente.jpg");
    background-size:cover;
}
.fixed-height {
    height: 40px;
}

section div{
    height: 50%;
}
