aside {
    height: 80px;
    width: 100px;
}

article {
    height: 300px; /* Establece un alto fijo */
    overflow-y: scroll; /* Muestra una barra de desplazamiento cuando hay desbordamiento */
}

@media (max-width: 600px) {
    article {
        height: 150px; /* Establece un alto fijo */
    }
    
}

@media (min-width: 601px) and (max-width:1000px){
    article{
        height:200px;
    }
}

