<!DOCTYPE html>
<html>
    <html>
        <head>
            <link rel="stylesheet" href="ticket.css">
        </head>
        <body>
            <div class="ticket">
                <img src="../images/imagenFondo.png" alt="Logotipo">
            <p class="centrado"><strong>SALUD CAPILAR HAIR DELUXE</strong><br><br>CALLE PRESBÍTERO MARTÍNEZ ROMERO, 20, 30816, TOTANA (MURCIA)
                <br>
                <br>
                <span id="fecha"></span></p>
                <br>
                <br>
                LE ATENDIÓ: <strong id="empleado"></strong>
                <table>
                    <thead>
                        <tr>
                            <th class="cantidad">CANT</th>
                            <th class="producto">PRODUCTO</th>
                            <th class="precio">€</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">TOTAL</td>
                            <td id="total">0.00€</td>
                        </tr>
                    </tfoot>
                </table>
                <p class="centrado">¡GRACIAS POR SU VISITA!</p>
            </div>
            </div>
        </body>
    </html>